<ion-content>
  <button class="exit-button" (click)="exit()">Exit</button>

  <div class="board-container">
    <div class="name-container" [ngClass]="{'highlighted': whitesTurn}" *ngIf="player && player.color === 'black'">
      <div>{{ whiteName }}</div>
    </div>
    <div class="name-container" [ngClass]="{'highlighted': blacksTurn}" *ngIf="player && player.color === 'white'">
      <div>{{ blackName }}</div>
    </div>

    <board [player]="player" [ngClass]="{'disabled': !isMyTurn()}"></board>

    <div class="name-container" [ngClass]="{'highlighted': whitesTurn}" *ngIf="player && player.color === 'white'">
      <div>{{ whiteName }}</div>
    </div>
    <div class="name-container" [ngClass]="{'highlighted': blacksTurn}" *ngIf="player && player.color === 'black'">
      <div>{{ blackName }}</div>
    </div>
  </div>

  <div class="chat-container" [hidden]="!chatShown">
    <div *ngIf="game && game.messages" >
      <div class="message" *ngFor="let m of game.messages">
        <strong>{{m.player}}:</strong> {{m.message}}
      </div>
    </div>
    <ion-input
      type="text"
      class="chat-text"
      placeholder="Type here"
      [(ngModel)]="message"
      (keyup.enter)="addMessage()">
    </ion-input>
  </div>
  <button class="chat-button" [hidden]="chatShown" (click)="toggleChatShown()">
    <ion-icon name="md-chatbubbles"></ion-icon>
  </button>
</ion-content>
