page-gameplay {
  .board-container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .name-container {
      padding: 10px 20px;
      margin: 10px;
      text-align: center;
      font-size: 26px;
      font-weight: 500;

      &.highlighted {
        background: #609ccd;
        border-radius: 10px;
      }
    }
  }

  button.exit-button {
    position: absolute;
    top: 20px;
    height: 32px;
    width: 60px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    background: #d0b085;
    color: white;
    border-radius: 0 5px 5px 0;
  }

  board.disabled{
    pointer-events: none;
    cursor: not-allowed;
  }

  .chat-container {
    color:black;
    background: white;
    position: absolute;
    bottom: 5px;
    left: 10px;
    width: 300px;
  }
}
