page-gameplay {
  .board-container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .name-container {
      padding: 10px 20px;
      margin: 10px;
      text-align: center;
      font-size: 26px;
      font-weight: 500;

      &.highlighted {
        background: #609ccd;
        border-radius: 10px;
      }
    }
  }

  board.disabled{
    pointer-events: none;
    cursor: not-allowed;
  }

  .chat-container {
    color:black;
    background: white;
    position: absolute;
    bottom: 5px;
    left: 10px;
    width: 200px;

    .message {
      padding: 10px;
      border-bottom: 1px solid #ccc;

      &:nth-child(even) {
        background: #ccc;
      }
    }
  }

  .chat-button {
    position: absolute;
    bottom: 0;
    left: 10px;
    width: 50px;
    height: 30px;
    border-radius: 5px 5px 0 0;
    font-size: 16px;
    background: #d0b085;
    color: #fff;
  }
}
