board {
  .chessboard {
    border: solid #333;
    width: 410px;
    height: 600px;
    border-width: 0 5px;
  }
  .board-space {
    width: 100px;
    height: 100px;
    font-size: 65px;
    float: left;
    background-color: #999;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }
  .black {
    background-color: #616161;
  }
  .white {
    background-color: #9E9E9E;
  }
  .player {
    background-color:#af9470;
    border-top: 5px solid #333;
    border-bottom: 5px solid #333;
  }

  .wr::after {
    content: '\2656';
  }
  .wb::after {
    content: '\2657 ';
  }
  .wk::after {
    content: '\2658';
  }
  .wpu::after, .wpd::after {
    content: '\2659';
  }
  .br::after {
    content: '\265C';
    color: black;
  }
  .bb::after {
    content: '\265D';
    color: black;
  }
  .bk::after {
    content: '\265E';
    color: black;
  }
  .bpu::after, .bpd::after {
    content: '\265F';
    color: black;
  }

  .valid {
    opacity: .05;
  }

  .validEnemy {
    background: #984c4c;
  }

  .selected {
    background: #6bb1ea;
  }

  .wr, .wb, .wk, .wpu, .wpd, .br, .bb, .bk, .bpu, .bpd, .valid {
    font-family: ChessAlpha !important;
    cursor: pointer;
  }
}
