<ion-header>

  <ion-navbar>
    <ion-title>{{name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid *ngIf="games && games.length">
    <ion-row class="header-row">
      <ion-col>
        Time
      </ion-col>
      <ion-col col-2>
        Turns
      </ion-col>
      <ion-col>
        Players
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let game of games">
      <ion-col>
        {{ game.timeString }}
      </ion-col>
      <ion-col col-2>
        {{ game.turns.length }}
      </ion-col>
      <ion-col>
        <div *ngFor="let player of game.players">
          <span class="player-color">
          {{ player.color === 'black' ?  '&#x25CF;' : '&#x25CB;' }}
          </span>
          {{ player.name || 'Anonymous' }}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <h4 margin-top text-center *ngIf="!games || games.length === 0">
    No games played yet
  </h4>
</ion-content>
