page-home {
  .home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;

    .title {
      font-size: 40px;
      margin: 0;
    }
    .slogan {
      margin: 0;
    }
    input.username {
      margin-top: 10px;
      width: 200px;
      height: 40px;
      padding: 5px;
      text-align: center;
      font-size: 16px;
      color: #000;
    }
    .chess-button {
      margin-top: 10px;
    }
  }
}

play-game-modal {
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 10px;
  }
}

play-game-modal {
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
}
