game {
    .board-container {
        width: 50%;
        margin: auto;
    }

    .board {
        display: flex;
        flex-wrap: wrap;

        .black {
            background-color: #616161;
        }
        .white {
            background-color: #9E9E9E;
        }
          
        .square {
            position: relative;
            flex-basis: 25%;
            border: 1px solid #000;
            box-sizing: border-box;
        }
        
        .square::before {
            content: '';
            display: block;
            padding-top: 100%;
        }
        
        .square .content {
            position: absolute;
            top: 0; left: 0;
            height: 100%;
            width: 100%;
        }
    }
}
