// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

button[ion-button].chess-button {
  background: #d0b085;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;

  &:hover {
    background: #937c5e;
  }
}

.circle-button {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background: white;
  font-size: 24px;
}

* {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 10px;
}

ion-backdrop {
  visibility: visible !important;
}


//// OVERRIDES

.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
  color: #424242;
  background-color: transparent;
}

.back-button-icon-ios {
  font-size: 2.4rem;
}
