<ion-header>
  <ion-navbar>
    <ion-title>Leaderboard</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid *ngIf="players && players.length">
    <ion-row class="header-row">
      <ion-col col-3>
        Rank
      </ion-col>
      <ion-col>
        Name
      </ion-col>
      <ion-col col-3>
        Wins
      </ion-col>
    </ion-row>
    <ion-row class="clickable" *ngFor="let player of players; let i = index" (click)="goToProfile(player)">
      <ion-col col-3>
        {{ i + 1 }}
      </ion-col>
      <ion-col>
        {{ player.name || 'Anonymous' }}
      </ion-col>
      <ion-col col-3>
        {{ player.wins }}
      </ion-col>
    </ion-row>
  </ion-grid>

  <h4 margin-top text-center *ngIf="!players || players.length === 0">
    No games played yet
  </h4>
</ion-content>
